/*
Color scheme for the page:
Background: d8b077 / rgb 216,176,119
Body text: 11120c / rgb 17,18,12
Article background: bd5e39 / rgb 189,94,57
Mild contrast, darker: a34633/ rgb 163,70,51
Text to go on the darker reds: a34633 / rgb 163,70,51
Font face: Nunito, from Google
*/

body {
  background: #d8b077;
  line-height: 1.3;
  color: #11120c;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0 10px 0 10px;
}

header span {
  font-family: nunito, sans-serif;
}

nav>ul {
  padding: 5px 5px 5px 20px;
}
nav li {
  display: inline-block;
  margin: 5px 15px 5px 5px;
  font-family: nunito, 'Lucida Sans', sans-serif
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

fieldset {
  border: 1px #a34633 solid;
  padding: 1em;
}

fieldset, form label {
  display: block;
}

#add_store_form {
  width: 400px;
}

#add_store_form label {
  text-align: right;
}

#sales_section {
  overflow: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #bd5e39;
}
#sales_section td {
  padding: 7px;
}
#sales_section>tr:nth-of-type(even) {
  background: #a34633;
}

#sales_section>tr>td:first-child {
  font-weight: bold;
  width: 150px;
}
#sales_section>tr>td:last-child {
  width: 50px;
}
#sales_section>*:first-child {
  font-weight: bold;
}